<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cupcake Homepage</title>
    <!-- Booststrap link -->
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
    crossorigin="anonymous"
  />
    <meta name="referrer" content="no-referrer">
</head>


<body>
<div class="container jumbotron">
    <h1>Cupcakes!!</h1>
   
    <div class="container mt-5">
        {% for msg in get_flashed_messages() %}
        <div class="alert alert-primary">{{ msg }}</div>
        {% endfor %}
    </div>
      
    <h3 class="text-info">Add a Cupcake!</h3>
    <form id="cupcake-form">
        <div>
            <label for="form-flavor">Flavor:</label>
            <input name="flavor" id="form-flavor" placeholder="ex: vanilla">
        </div>

        <div>
            <label for="form-size">Size:</label>
            <input name="size" id="form-size" placeholder="ex: small">
        </div>

        <div>
            <label for="form-rating">Rating:</label>
            <input name="rating" id="form-rating" placeholder="ex: 5">
        </div>

        <div>
            <label for="form-image">Image:</label>
            <input name="image" id="form-image" placeholder="ex: http://wwww..." alt="Resized Image" class="small-image">
        </div>

        <button class="btn btn-primary">Add</button>

    </form>
    <ul id= 'cupcake-list'>
        <!-- already made cupcakes here -->
    </ul>


</div>
   <!-- JS and jQuery and Bootstrap Bundle (includes Popper) -->
  
   <script src="https://unpkg.com/axios/dist/axios.js"></script>
   <script
   src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
   integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
   crossorigin="anonymous"
 ></script>
 <script
   src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
   integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
   crossorigin="anonymous"
 ></script>   
 <script src="/static/cupcakes.js"></script> 
</body>
</html>
